<style>
  #banner {
  background: <%= banner&.color %>;
  }
</style>
<div id="banner" class="d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col-12 text-center">
        <%= banner&.content&.html_safe %>
    </div>
  </div>
</div>
